---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_chargeDeclined
    headers:
      Authorization:
      - Bearer sk_test_3QVLsGs3IgugTQJTq4wUd0Sc00WZaE8LTB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1EfTbzBtJJ4R2D1DrvNyF1VW",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Wed, 29 May 2019 15:22:43 GMT
recorded_with: VCR 3.0.0
