---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_visa
    headers:
      Authorization:
      - Bearer sk_test_3QVLsGs3IgugTQJTq4wUd0Sc00WZaE8LTB
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1EfTMUBtJJ4R2D1DPu4B6uS6",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1EfTMVBtJJ4R2D1DsLW7U4CJ",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "captured": true,
          "created": 1559142402,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 29,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1EfTMUBtJJ4R2D1D94KJi3Da",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": null
              },
              "country": "US",
              "description": "Visa Classic",
              "exp_month": 5,
              "exp_year": 2020,
              "fingerprint": "HC3MRBvRm2h2XOnA",
              "funding": "credit",
              "last4": "4242",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_1Ee0ixBtJJ4R2D1D/ch_1EfTMUBtJJ4R2D1DPu4B6uS6/rcpt_F9mwIRgqUBxXWBAW36eL8qCQsLZzPAW",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1EfTMUBtJJ4R2D1DPu4B6uS6/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1EfTMUBtJJ4R2D1D94KJi3Da",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2020,
            "fingerprint": "HC3MRBvRm2h2XOnA",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 29 May 2019 15:06:43 GMT
recorded_with: VCR 3.0.0
