---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1EhFshDbHuZc0afKsI4kH6HX&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_yHSLZKDkZM4GVBqKjRatRMFq007havnh8t
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_FBd9Wm9wrX2CDc",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1559567240,
          "currency": "usd",
          "default_source": "card_1EhFshDbHuZc0afKLSjohFBr",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "john@example.com",
          "invoice_prefix": "01E20C3C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1EhFshDbHuZc0afKLSjohFBr",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_FBd9Wm9wrX2CDc",
                "cvc_check": "unchecked",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2020,
                "fingerprint": "2dQdSIE5UlbR8Ljq",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_FBd9Wm9wrX2CDc/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_FBd9mQJaZf7jsW",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1559567240,
                "billing_thresholds": null,
                "cancel_at": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "collection_method": "charge_automatically",
                "created": 1559567240,
                "current_period_end": 1562159240,
                "current_period_start": 1559567240,
                "customer": "cus_FBd9Wm9wrX2CDc",
                "days_until_due": null,
                "default_payment_method": null,
                "default_source": null,
                "default_tax_rates": [

                ],
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_FBd9xKtMeRcx46",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1559567241,
                      "metadata": {
                      },
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 999,
                        "billing_scheme": "per_unit",
                        "created": 1559558277,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": "monthly",
                        "product": "prod_FBajfwNdszmEP5",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_FBd9mQJaZf7jsW",
                      "tax_rates": [

                      ]
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_FBd9mQJaZf7jsW"
                },
                "latest_invoice": "in_1EhFsjDbHuZc0afKgrNoiRBl",
                "livemode": false,
                "metadata": {
                },
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 999,
                  "billing_scheme": "per_unit",
                  "created": 1559558277,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "monthly",
                  "product": "prod_FBajfwNdszmEP5",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1559567240,
                "start_date": 1559567240,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_FBd9Wm9wrX2CDc/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_FBd9Wm9wrX2CDc/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 03 Jun 2019 13:07:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?customer=cus_FBd9Wm9wrX2CDc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_yHSLZKDkZM4GVBqKjRatRMFq007havnh8t
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ch_1EhFsjDbHuZc0afKp762aAeR",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "application_fee_amount": null,
              "balance_transaction": "txn_1EhFsjDbHuZc0afK4FXAW7ZQ",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": null,
                  "line1": null,
                  "line2": null,
                  "postal_code": null,
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null
              },
              "captured": true,
              "created": 1559567241,
              "currency": "usd",
              "customer": "cus_FBd9Wm9wrX2CDc",
              "description": "Payment for invoice D6033DA-0001",
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {
              },
              "invoice": "in_1EhFsjDbHuZc0afKgrNoiRBl",
              "livemode": false,
              "metadata": {
              },
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "risk_score": 16,
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "payment_intent": "pi_1EhFsjDbHuZc0afKHyzgXhp2",
              "payment_method": "card_1EhFshDbHuZc0afKLSjohFBr",
              "payment_method_details": {
                "card": {
                  "brand": "visa",
                  "checks": {
                    "address_line1_check": null,
                    "address_postal_code_check": null,
                    "cvc_check": "pass"
                  },
                  "country": "US",
                  "description": "Visa Classic",
                  "exp_month": 7,
                  "exp_year": 2020,
                  "fingerprint": "2dQdSIE5UlbR8Ljq",
                  "funding": "credit",
                  "last4": "4242",
                  "three_d_secure": null,
                  "wallet": null
                },
                "type": "card"
              },
              "receipt_email": null,
              "receipt_number": null,
              "receipt_url": "https://pay.stripe.com/receipts/acct_1Egqh1DbHuZc0afK/ch_1EhFsjDbHuZc0afKp762aAeR/rcpt_FBd9IhRvxsphMuzIrSTlRrZMuJvsINj",
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1EhFsjDbHuZc0afKp762aAeR/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1EhFshDbHuZc0afKLSjohFBr",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_FBd9Wm9wrX2CDc",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2020,
                "fingerprint": "2dQdSIE5UlbR8Ljq",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": null
            }
          ],
          "has_more": false,
          "url": "/v1/charges"
        }
  recorded_at: Mon, 03 Jun 2019 13:07:23 GMT
recorded_with: VCR 4.0.0
